

h1 {
  text-align: center;
  color: #B53953;
  text-shadow: 2px 3px #240000;
  font-family: cursive;
  font-size: 50pt;
  font-style: italic;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30pt;
  color: #78BCC4;
  text-shadow: 2px 2px lightslategray;
  letter-spacing: 2px;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adopt-now {
  color: #B53953;
  text-decoration: none;
  clear: left;
  text-align: center;
}

.adopt-now a {
  color: #B53953;
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bold;
}

.adopt-now:hover a{
  color: #466E82;
}

#button {
  background-color: lightcoral;
  color: rgb(242, 220, 220);
  padding: 10px;
}

#button:hover {
  background-color: #FE9677;
  color: #466E82;
}

.container .profile:nth-child(1) p {
  color: #B5651D;
}

.container .profile:nth-child(2) p {
  color: lightslategray;
}

.container .profile:nth-child(3) p {
  color: brown;
}

.profile {
  width: 30%;
  min-width: 300px;
  border: 5px #466E82 solid;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: #FE9677;
}

.profile:hover {
  background-color: #B53953;
}

.profile:hover p.hover {
  color: #240000;
}

img {
  width: 200px;
  border-radius: 10%;
}

@media all and (min-width: 1400px) {
  .profile {
    float: left;
  }
  body {
    background-color: #78BCC4;
    transition: 0.5s;
  }
}

@media all and (max-width: 1400px) {
  body {
    background-color: #EF798A;
    transition: 0.5s;
  }
  .profile {
    margin: 10px auto;
  }
}

@media all and (max-width: 500px) {
  body {
    background-color: #7D82B8;
    transition: 0.5s;
  }
  .profile {
    width: 80%;
  }
}